OLLAMA_API_KEY=27d391d017e4487cb32e4f76d4c68808.7UroK09wVUXg0-DL4tZ_Tkmx
DATABASE_URL=postgresql://neondb_owner:npg_2woIH3veRUsf@ep-soft-wave-ap3ace2d-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require